---
    import BaseLayout from "../layouts/BaseLayout.astro";
    import TimeLineElement from "../components/cv/TimeLine.astro";
    ---

    <BaseLayout title="note">
     

      <div class="time-line-container mb-10">
        <TimeLineElement
          title="2024-05"
        >
               <li class="mt-3 mb-3"><a href="/note/今天周五">今天周五</a></li>
<li class="mt-3 mb-3"><a href="/note/爱兰汐">爱兰汐</a></li>
<li class="mt-3 mb-3"><a href="/note/蝶恋花·庭院深深深几许">蝶恋花·庭院深深深几许</a></li>
<li class="mt-3 mb-3"><a href="/note/无题二首·其一">无题二首·其一</a></li>
<li class="mt-3 mb-3"><a href="/note/将进酒">将进酒</a></li>
<li class="mt-3 mb-3"><a href="/note/春江花月夜">春江花月夜</a></li>

        </TimeLineElement>
      </div>
    </BaseLayout>
    